.App {
  text-align: center;
  /* border: solid black 2px; */
  margin: 5% 20%;
  padding: 2% 5%;
  background-color: slategrey;
  border-radius: 5px;
  font-family: 'Permanent Marker', cursive;
  color: #414040;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
.outerWrapper {
  padding: 5px;
  border: solid black 1px;
}
.inputWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding: 15px;
  background-color: lavenderblush;
  border-radius: 5px;
}
#input {
  font-size: larger;
  grid-column-start: 1;
  grid-row-end: 2;
  /* border: solid black 1px; */
  margin: 2px;
  transition: all 0.2s;
  background-color: peachpuff;
  border-radius: 5px;
  font-family: 'Permanent Marker', cursive;
  color: #414040;
}
.enter {
  border-radius: 5px;
  height: 2em;
  grid-column-start: 2;
  grid-column-end: 7;
  border:1px solid lightgray;
  font-weight: 400;
  margin: 0px 5px;
  background-color: darkgray;
  font-size: larger;
  color: snow;
}
.todoWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  margin: 10px 0px;
  background-color: lavenderblush;
  border-radius: 5px;
  height: 3em;
  align-items: center;
  color: #414040;
}
.lineThrough {
  
  text-decoration: line-through;
  opacity: 30%
}
#todo {
  grid-column-start: 2;
  grid-column-end: 5;
  text-align: left;
  padding-left: 1em;
  margin: 0em;
  font-size: larger;
}
#trash {
  align-self: center;
  cursor: pointer;
  transition: all 0.2s;
}
#trash:hover {
  opacity: 30%;
}
#done {
  transition: all 0.2s;
  cursor: pointer;
  grid-column-start: 6;
  margin: 0em;
  font-size: larger;
}
#done:hover {
  opacity: 30%;
}
#button {
  font-family: 'Permanent Marker', cursive;
}
